$themeLight: #72c7b7;
$themeMiddle: #112639;
$themeDark: #17152a;
$gold: #fcd05d;
$cardDarkBlue: #100e23;
$black: #000;

@font-face {
    font-family: themeFont;
    src: url(KdamThmorPro-Regular.ttf);
    font-weight: normal;
}

// @font-face {
//     font-family: themeFont;
//     src: url(SpaceMono-Bold.ttf);
//     font-weight: bold;
// }

// @font-face {
//     font-family: themeFont;
//     src: url(SpaceMono-Italic.ttf);
//     font-style: italic;
// }

// @font-face {
//     font-family: themeFont;
//     src: url(SpaceMono-BoldItalic.ttf);
//     font-weight: bold;
//     font-style: italic;
// }

@font-face {
    font-family: bannerFont;
    src: url(KdamThmorPro-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

video {
    outline: none;
}

body {
    background-color: $themeDark;
    font-family: themeFont;
}

.cursor-pointer {
    cursor: pointer;
}

.font2 {
    font-family: bannerFont;
}

.color-light {
    color: $themeLight;
}

.color-middle {
    color: $themeMiddle;
}

.color-dark {
    color: $themeDark;
}

.bg-black {
    background-color: $black;
}

.bg-middle {
    background-color: $themeMiddle;
}

.text-upper {
    text-transform: uppercase;
}

.btn {
    outline: none;

    &.btn-primary {
        border-color: $themeLight;
        background-color: transparent;

        &:hover {
            background-color: $themeLight;
            color: $black;
        }
    }

    &.btn-default {
        border-color: $themeLight;
        background-color: $themeLight;
        color: $black;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
}

.bannerWrapper {
    position: relative;

    .bannerContent {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        background-color: rgba(0,0,0,.3);

        .bannerText {
            h1 {
                font-size: 50px;
            }
        }
    }
}

.bannerImg {
    max-height: 100vh;
    object-fit: cover;
}

.logoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
        background-color: rgba(0,0,0,.2);
        border-radius: 7px;
        display: flex;

        a {
            color: #fff;
            padding: 7px 15px;
        }
    }
}

.passWrapper {
    background-color: $themeMiddle;
    color: #fff;
}

.roadmapWrapper {
    display: flex;
    flex-flow: column;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        width: 2px;
        height: 100%;
        background: $themeMiddle;
        z-index: 1
     }
}

.roadmapBlock {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
    color: #fff;
    align-items: center;

    &:nth-of-type(odd) {
        align-self: flex-start;
        flex-flow: row-reverse;
        // float: left;
    }

    &:nth-of-type(even) {
        align-self: flex-end;
        // float: right;
    }

    .roadmap-content {
        width: 95%;
        border: 1px solid $themeLight;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 0 15px -5px $themeLight;

        .title {
            font-weight: bold;
            font-size: 30px;
        }

        .content {
            font-weight: normal;
            font-size: 19px;
        }
    }
}

.hubBg {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1e3b55;
}

.marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $themeMiddle;
    background: $themeLight;
    margin-top: 10px;
    z-index: 9999
 }

 .footer {
     background-color: $themeMiddle;
     margin-top: 50px;
     padding: 6px 0;
     color: #fff;
     font-size: 12px;
 }

 .backToTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    color: #fff;
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(0,0,0,.3);
    font-size: 24px;
 }

 @media screen and (max-width: 768px) {
     .bannerImg {
         height: 100vh;
         object-fit: cover;
     }

     .bannerWrapper {
        position: relative;
    
        .bannerContent {
    
            .bannerText {
                h1 {
                    font-size: 20px;
                }
            }
        }
    }

    .logoWrapper {
        .menu {
            display: none;
        }
    }

    .logo {
         width: 150px;
    }

    .roadmapWrapper {
        &:before {
            left: 15px;
            width: 2px;
        }
    }

    .roadmapBlock {
        width: 100%;
        margin-bottom: 10px;
    
        &:nth-of-type(odd) {
            align-self: flex-start;
            flex-flow: row;
        }
    
        &:nth-of-type(even) {
            align-self: flex-start;
        }
    }

    .marker {
        margin-left: -8px;
    }
 }